.alert {
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: large;
}

.alert>ul {
    margin-bottom: 0;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.error-message {
    font-size: medium;
    color: rgb(255, 73, 73);
    margin-top: -10px;
    margin-bottom: 10px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.btn {
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    padding: 6px 16px;
    text-decoration: none;
}

.btn-green {
    background-color: #2ea44f;
}

.btn-blue {
    background-color: #138496;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn span {
    font-size: larger;
    margin-right: 5px;
}